<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>LTI 2.0 Prototype Building Block</display-name>
  
  	<servlet>
		<servlet-name>LTI2Servlet</servlet-name>
		<servlet-class>org.imsglobal.lti2.LTI2Servlet</servlet-class>
  	</servlet>
	
	<servlet-mapping>
		<servlet-name>LTI2Servlet</servlet-name>
		<url-pattern>/lti2/*</url-pattern>
	</servlet-mapping>

</web-app>
